@model E_TRADING.Common.Models.ProductViewModel

@{
    ViewBag.Title = Model.Name;
}

<h2></h2>
<div class='container-fluid '>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">@Model.Name</h1>
        </div>
        <div class="panel-body">
            <div class="col-md-4 product-block">
                <div class='container-fluid product-image-block'>
                    <img src='/Content/category-icon-png.png' />
                </div>
            </div>
            <div class="col-md-8">
                <div class=''>
                    <h2 class="">@Model.Name  <span class="label label-primary">@Model.Amount залишилось!</span></h2>
                </div>
                <div class=''>
                    <h4 class="">@Html.DisplayNameFor(model => model.Price): @Model.Price</h4>
                </div>
                <div class="">
                    @using (Html.BeginForm("Add", "ShoppingCart", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)
                        <input class="form-control input" type="number" 
                               onkeypress="return event.charCode >= 48 && event.charCode <= 57" 
                               placeholder="@Html.DisplayNameFor(model => model.Amount)" 
                               max="@Model.Amount" min="1" name="Amount" />
                        <button type="submit" class="form-control btn btn-success" style="margin-top: 10px">Додати в кошик</button>
                    }
                </div>
                <hr />
                <div class=''>
                    <h4 class="">@Html.DisplayNameFor(model => model.Description)</h4>
                    <h5>@Model.Description</h5>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    @Html.ActionLink("На головну", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
