@model IEnumerable<E_TRADING.Common.Models.OrderViewModel>
@{
    ViewBag.Title = "Last orders";
}

<div class="jumbotron">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>@ViewBag.Title</h3>
        </div>
        <div class="panel-body">
            <table class="table margin-top-10">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Name)</th>
                        <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Status)</th>
                        <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Amount)</th>
                        <th>@Html.DisplayNameFor(m => m.FirstOrDefault().FullPrice)</th>
                        <th>@Html.DisplayNameFor(m => m.FirstOrDefault().ShippingAddress)</th>
                        <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Buyer)</th>
                        <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Seller)</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.Count() > 0)
                        {
                            foreach (var order in Model)
                            {
                                <tr>
                                    <td>@order.Name</td>
                                    <td>@order.Status</td>
                                    <td>@order.Amount</td>
                                    <td>@order.FullPrice</td>
                                    <td>@order.ShippingAddress</td>
                                    <td>@order.Buyer</td>
                                    <td>@order.Seller</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="7">
                                    <h4 style="text-align:center">No orders found</h4>
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>

    </div>
</div>