@model E_TRADING.Data.Entities.Seller
    @{
        ViewBag.Title = "Особистий кабінет";
    }
    @{Html.RenderPartial("_LeftMenu");}
    <div class="content">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.User.UserName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.User.UserName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.User.FirstName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.User.FirstName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.User.LastName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.User.LastName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.User.Address)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.User.Address)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.User.PhoneNumber)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.User.PhoneNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Alias)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Alias)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.OfficeAddress)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.OfficeAddress)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ContactPhone)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ContactPhone)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
