@model E_TRADING.Data.Entities.Category
@{
    ViewBag.Title = "Редагувати Каталог";
}

<div class="jumbotron container-fluid">

    <section id="newCategoryForm">
        @using (Html.BeginForm("Edit", "Catalogs", FormMethod.Post, new { @class = "form-horizontal ", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group hidden" style="float:left">
                @Html.LabelFor(m => m.Id, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group"  style="float:left">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-lg-2 ">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Edit" class="btn btn-default " />
                </div>
            </div>
        }
    </section>
</div>

