@using E_TRADING.Data.Entities;
@model E_TRADING.Data.Entities.Seller
@{
    ViewBag.Title = "Get seller info";
}

<div class="jumbotron container-fluid">
    <div class="panel panel-default" id="BuyerCatalog">
        <div class="panel-heading">
            Seller
        </div>
        @Html.ActionLink("Confirm user", "Confirm", "Users", new { id = Model.Id }, new { @class = "btn btn-default" })
        <div class="panel-body">
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <table class="table">
                        <tr>
                            <td style="border-top:none" class="col-lg-4">Логін:</td>
                            <td style="border-top: none; text-align:center">@Model.User.UserName</td>
                        </tr>
                        <tr>
                            <td class="col-lg-4">Name</td>
                            <td style="text-align:center">@Model.User.FirstName</td>
                        </tr>
                        <tr>
                            <td class="col-lg-4">Last name:</td>
                            <td style="text-align:center">@Model.User.LastName</td>
                        </tr>
                        <tr>
                            <td class="col-lg-5">Contact number:</td>
                            <td style="text-align:center">@Model.ContactPhone</td>
                        </tr>
                        <tr>
                            <td class="col-lg-5">Phone number:</td>
                            <td style="text-align:center">@Model.User.PhoneNumber</td>
                        </tr>
                        <tr>
                            <td class="col-lg-4">Is confirmed:</td>
                            <td style="text-align:center">@Model.IsConfirmed</td>
                        </tr>
                        <tr>
                            <td class="col-lg-4">Error text:</td>
                            <td style="text-align:center">@Model.ErrorText</td>
                        </tr>
                        <tr>
                            <td class="col-lg-4">Addres:</td>
                            <td style="text-align:center">
                                Seller addres: @Model.User.Address<br />
                                Office addres: @Model.OfficeAddress
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-6">
                    <img style="height: 200px; float:right;" src="/Content/profile-pic.png" />
                </div>
                <hr />
            </div>
            <div class="col-lg-12">
                <h1 style="text-align:center">Products</h1>
                <hr />
            </div>
            <table class="table margin-top-10">
                <thead>
                    <tr>
                        <th>Product name</th>
                        <th>Product code</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th>Product category</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Products.Count() > 0)
                    {
                        foreach (Product product in Model.Products)
                        {
                            <tr>
                                <td>@product.Name</td>
                                <td>@product.ProductCode</td>
                                <td>@product.Amount</td>
                                <td>@product.Price</td>
                                <td>@product.Category.Name</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td style="text-align:center" colspan="7">
                                This user didn't add any products
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
