@model E_TRADING.Common.Models.AuctionViewModel
@using System.Globalization
@{
    ViewBag.Title = Model.Product.Name;
    var nfi = new NumberFormatInfo();
    nfi.NumberDecimalSeparator = ".";
    ViewBag.NextValue = (Model.LastBid + Model.MinStep).ToString(nfi);
}
<div class='container-fluid '>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">@Model.Product.Name</h1>
        </div>
        <div class="panel-body">
            <div class="col-md-5 product-block">
                <div class='product-image-block jumbotron container-fluid' style="padding:15px 0">
                    @if (Model.Product.Images.Count > 0)
                    {
                        <div class="col-md-3">
                            @foreach (var imageLink in Model.Product.Images)
                            {
                                <img class="small-img" onclick="ChangeImage(event)" style="width:60px; padding-bottom: 10px" src="@imageLink" />
                            }
                        </div>
                        <div class="col-md-9">
                            <img id="main-img" style="max-width:285px" src="@Model.Product.Images.FirstOrDefault()" />
                        </div>
                    }
                    else
                    {
                        <img src="~/Content/no_available_image.png" />
                    }
                </div>
            </div>
            <div class="col-md-7">
                <div class=''>
                    <h2 class="">@Model.Product.Name <span class="label label-primary">@Model.Product.Amount</span></h2>
                </div>
                @if (!Model.IsFinished)
                {
                    <div id="notBegin" style="display:@(Model.IsStarted ? "none" : "block")">
                        <h4>Початок аукціону: @Model.DateStart. Кінець: @Model.DateEnd</h4>
                    </div>
                    <div id="isStarted" style="display:@(Model.IsStarted ? "block" : "none")">
                        <div>
                            @if (ViewBag.Errors != null)
                            {
                                <label class="text-danger">@ViewBag.Errors</label>
                                <br />
                            }
                            <div>
                                Остання ставка: <label id="last-bid">@Model.LastBid</label>. Покупець: <label id="last-buyer">@Model.BuyerName</label>
                            </div>
                            <br />
                            Мінімальний крок: <label id="min-step">@Model.MinStep</label>
                            <br />
                            <div>
                                Залишилось часу: <label id="time-left">@Model.TimeLeft</label>
                            </div>
                            <br />
                            @using (Html.BeginForm("Bid", "Auction", FormMethod.Post, new { @class = "form-horizontal", id = "bidForm" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.Id)
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                <input class="form-control input" type="number"
                                       onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                       placeholder="Введіть вашу ставку" value="@ViewBag.NextValue"
                                       min="@ViewBag.NextValue" name="NewBid" id="new-bid" />
                                    <button type="submit" class="btn btn-success" style="margin-top: 10px">Зробити ставку</button>
                                    <button type="button" onclick="BidMinimalStep();" class="btn btn-success" style="margin-top: 10px" id="set-next-bid">Поставити @ViewBag.NextValue</button>
                                    <script>
                                        function BidMinimalStep() {
                                            var lastBid = parseInt($('#last-bid').text());
                                            var minStep = parseInt($('#min-step').text());
                                            var bid = lastBid + minStep;
                                            $("#new-bid").attr("value", bid);
                                            $("#bidForm").submit();
                                        }
                                    </script>
                            }
                        </div>
                    </div>
                    <div id="isFinished" style="display:none;">
                        <h4>Аукціон завершено</h4>
                    </div>
                }
                else
                {
                    <div>
                        <h4>Аукціон завершено</h4>
                        Остання ставка: @Model.LastBid
                        <br />
                        Покупець @Model.BuyerName
                    </div>
                }
                <hr />
                <div class=''>
                    <h4 class="">@Html.DisplayNameFor(model => model.Product.Description)</h4>
                    <h5>@Model.Product.Description</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("На головну", "Index", "Home")
</div>

<script>
    function ChangeImage(event) {
        $("#main-img").attr("src", $(event.target).attr("src"));
    }
</script>
<script>
    var auction = $.connection.auctionHub;

    auction.client.finishAuction = function (auctionId) {
        if(auctionId=="@Model.Id"){
            $('#notBegin').css("display","block");
            $('#isStarted').css("display","none");
            $('#isFinished').css("display","block");
            window.location.reload();
        }
    };

    auction.client.beginAuction = function (auctionId) {
        if(auctionId=="@Model.Id"){
            $('#notBegin').css("display","none");
            $('#isStarted').css("display","block");
            $('#isFinished').css("display","none");
            window.location.reload(true);
        }
    };

    auction.client.refreshAuction = function (auctionId, newTime, lastBid, userName) {
        if(auctionId=="@Model.Id"){
            $('#time-left').text(newTime);
            $('#last-bid').text(lastBid);
            $('#last-buyer').text(userName);
            RefreshSums();
        }
    };
    $.connection.hub.start({ transport: 'longPolling' });

    function RefreshSums() {
        var lastBid = parseInt($('#last-bid').text());
        var minStep = parseInt($('#min-step').text());
        var bid = lastBid + minStep;
        $("#new-bid").attr("value", bid);
        $("#new-bid").attr("min", bid);
        $("#set-next-bid").text("Поставити " + bid);
        
    }
</script>