@model List<E_TRADING.Data.Entities.Order>
@{
    ViewBag.Title = "Оформлення замовлення";
}
@{Html.RenderPartial("../Buyer/_LeftMenu", ViewBag.Helper as E_TRADING.Common.Models.BuyerProfileHelperViewModel);}
<div class="content">
    <div class="col-md-12">
        <h2>@ViewBag.Title</h2>
        @Html.ActionLink("Скасувати", "Index", "ShoppingCart", new { }, new { @class = "btn btn-danger" })
        <div>
            <hr />
            @using (Html.BeginForm("CreateConfirm", "Order", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                for (var order = 0; order < Model.Count; order++)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">@Model[order].Product.Name x @Model[order].Amount</h1>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-4 product-block">
                                <div class='container-fluid product-image-block'>
                                    @{
                                        if (Model[order].Product.Images.Count > 0)
                                        {
                                            var minIndex = Model[order].Product.Images.Select(i => i.Index).Min();
                                            var img = Model[order].Product.Images.FirstOrDefault(i => i.Index == minIndex);
                                            <img style="width:100%;" src="@Url.Content("/Content/ProductImages/" + img.Id + img.Extention)" />
                                        }
                                        else
                                        {
                                            <img style="width:100%;" src="~/Content/no_available_image.png" />
                                        }
                                    }
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class=''>
                                    <h4 class="">@Html.DisplayNameFor(model => Model[order].FullPrice): @Model[order].FullPrice</h4>
                                </div>
                                <div class="">
                                    @Html.DisplayNameFor(model => Model[order].ShippingAddress)
                                    @Html.EditorFor(model => Model[order].ShippingAddress, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                    @Html.HiddenFor(model => Model[order].ProductId)
                                </div>
                                <hr />
                                <div class=''>
                                    <h4 class="">@Html.DisplayNameFor(model => Model[order].Product.Description)</h4>
                                    <h5>@Model[order].Product.Description</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                }
                <button type="submit" class="btn btn-success">Оформити замовлення</button>
            }
        </div>
    </div>
</div>
<div class="clearfix"></div>
