@model E_TRADING.Common.Models.ShoppingCartViewModel
@{
    ViewBag.Title = "Корзина";
}
@{Html.RenderPartial("../Buyer/_LeftMenu", Model.Helper);}
<div class="content">
    <div class="col-md-12">
        <h2>@ViewBag.Title</h2>
        @Html.ActionLink("Оформити замовлення", "Create", "Order", new { }, new { @class = "btn btn-success" })
        @Html.ActionLink("Очистити корзину", "Clear", "ShoppingCart", new { }, new { @class = "btn btn-danger" })
        <div>
            <hr />
            @if (ViewBag.Error != null)
            {
                <div class="panel panel-danger">
                    <label>@ViewBag.Error</label>
                </div>
            }
            <table class="table margin-top-10">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.Products.FirstOrDefault().Name)</th>
                        <th>@Html.DisplayNameFor(m => m.Products.FirstOrDefault().Amount)</th>
                        <th>@Html.DisplayNameFor(m => m.Products.FirstOrDefault().Price)</th>
                        <th>@Html.DisplayNameFor(m => m.Products.FirstOrDefault().AddedDate)</th>
                        <th>@Html.DisplayNameFor(m => m.Products.FirstOrDefault().Category)</th>
                        <th>Опції</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Products)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Amount</td>
                            <td>@item.Price</td>
                            <td>@item.AddedDate</td>
                            <td>@item.Category</td>
                            <td>
                                <a class="btn btn-default" title="Детальна інформація" href="@Url.Action("Index", "Product", new { id = item.Id })">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>
                                <a class="btn btn-danger" title="Видалити запис" href="@Url.Action("Delete", "ShoppingCart", new { id = item.ShopCartId })">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="clearfix"></div>
